@page
@model MiniCrm.Pages.IndexModel
@{
    ViewData["Title"] = "Customer page";
}

@await Html.PartialAsync("_addCustomerModal", Model)

<div class="container">
    <div class="row">
        <div class="col-6 text-start">
            <h1 class="display-4">Customers</h1>
        </div>
        <div class="col-6 display-4 text-end">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCustomerModal">
                + Add Customer
            </button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="headings col-md-4 text-black text-md-start ps-4">
            First Name
        </div>
        <div class="headings col-md-4 text-black text-md-start">
            Last Name
        </div>
        <div class="headings col-md-3 text-black text-md-start">
            Email
        </div>
        <div class="headings col-md-1 text-black text-md-start">
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="accordion accordion-flush" id="customeraccordion">
                @foreach (var customer in Model.Customers)
                {
                    <div class="accordion-item mt-5">
                        <p class="accordion-header" id="ca-@customer.Id">
                            <div class="row">
                                <div class="col-md-4 ps-4">
                                    @customer.FirstName
                                </div>
                                <div class="col-md-4">
                                    @customer.LastName
                                </div>
                                <div class="col-md-3">
                                    @customer.Email
                                </div>
                                <div class="col-md-1">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ca-@customer.Id" aria-expanded="false" aria-controls="ca-@customer.Id" />
                                </div>
                            </div>
                        </p>
                       
                        <div id="ca-@customer.Id" class="accordion-collapse collapse" aria-labelledby="ca-@customer.Id" data-bs-parent="#customeraccordion">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        @customer.Address?.Street
                                    </div>
                                    <div class="col-md-3">
                                        @customer.Address?.City
                                    </div>
                                    <div class="col-md-3">
                                        @customer.Address?.State
                                    </div>
                                    <div class="col-md-3">
                                        @customer.Address?.ZipCode
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
